EXERCISE 1

In [1]:
name ="ARUN"
student_no ="AK3947"
email ="arunkannanvl108@gmail.com"

In [2]:
print(name)
print(student_no)
print(email)

ARUN
AK3947
arunkannanvl108@gmail.com

EXERCISE 2

In [3]:
print("Arun\n\nAK3947\n\narunkannanv108@gmail.com")

Arun

AK3947

arunkannanv108@gmail.com

EXERCISE 3

In [4]:
num1=12
num2=6

In [5]:
addition=num1 + num2
subtraction=num1 - num2
multiplication=num1 * num2
division=num1/num2

In [6]:
print("Addition:",addition)
print("Subtraction:",subtraction)
print("multiplication:",multiplication)
print("Division:",division)

Addition: 18
Subtraction: 6
multiplication: 72
Division: 2.0

EXERCISE 4

In [7]:
for number in range(1,6):
    print(number)

1
2
3
4
5

EXERCISE 5

In [8]:
print('"SDK"stands for"Software Development Kit",whereas\n\n"IDE"stands for  Integrated Development Environment",')

"SDK"stands for"Software Development Kit",whereas

"IDE"stands for  Integrated Development Environment",

EXERCISE 6

In [9]:
print("python is an\"awesome\" language.")
print("python\n\t2023")
print('I\'M from Entri.\b')
print("\65")
print("\x65")
print("Entri","2023",sep="\n")
print("Entri","2023",sep="\b")
print("Entri","2023",sep="*",end="\b\b\b\b")

python is an"awesome" language.
python
	2023
I'M from Entri
5
e
Entri
2023
Entr2023
Entri*20

EXERCISE 7

In [10]:
num = 23
textnum = "57"
decimal = 98.3

In [11]:
print("Type of num:", type(num))
print("Type of textnum:", type(textnum))
print("Type of decimal:", type(decimal))

Type of num: <class 'int'>
Type of textnum: <class 'str'>
Type of decimal: <class 'float'>

In [12]:
sum = float(num) + float(textnum) + decimal

In [13]:
print(sum) 
print(type(sum))

178.3
<class 'float'>

EXERCISE 8

In [14]:
days_in_a_year = 365
hours_in_a_day = 24
minutes_in_an_hour = 60

In [15]:
total_minutes_in_a_year = days_in_a_year *hours_in_a_day* minutes_in_an_hour

In [16]:
print("This code calculates the total number of minutes in a year using variables for days,hours,and minutes")
print("Number of days in a year:",days_in_a_year)
print("Number of hours in a day",hours_in_a_day)
print("Number of minutes in an hour",minutes_in_an_hour)
print("total number of minutes in a year",total_minutes_in_a_year)

This code calculates the total number of minutes in a year using variables for days,hours,and minutes
Number of days in a year: 365
Number of hours in a day 24
Number of minutes in an hour 60
total number of minutes in a year 525600

EXERCISE 9

In [17]:
name = ("Arun: ")
print(f"Hi {name}, welcome to Python programming!")

Hi Arun: , welcome to Python programming!

EXERCISE 10

In [18]:
EXCHANGE_RATE = 1.27
pounds = float(input("1000: "))
dollars = pounds * EXCHANGE_RATE
print(f"£{pounds:.2f} are ${dollars:.2f}")

Please enter amount in pounds:  1000

£1000.00 are $1270.00